/* add css module styles here (optional) */

.gmind-designer {
  height: 100%;
  /*border: 1px solid #000;*/
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAADiElEQVRYR+1XXUiTYRR+1HDamqYYRSuQgYpoDr2YuhtFUfmYCkIUQQsNvRAHoQkSkYZhGTbEuSL/YRddSAhBoBgOJ2EROgzXjUqKacK3NtH149xsceSbrLG5qRO98IXDxnj3ned5znPO+35BOOIVdMT5cewAECAKBxeHLpCrAsEAQpaXl58LhcI7ALYA2A4biCuAUwDCjUZj/fr6+vXNzc36xMTE1wCsAOyHBcQdQIRWq70aFhb2ND4+ns+y7IelpaX6/Pz8TwA2OVUCWhZXACEAzpaWll5pa2sbioyM5LW0tEChUNhMJpO6ubn5mVqtNnFl+RsoFK4A6HskgEtms3k8JydHMDU1hZSUFCiVSntSUpLRYrE0JSQkaABsBKos7m14BoDQYDD0K5XKlL6+vh2icrkcra2tNovF8nFlZeWxVCod4/xBZt33cgcQDuDC+Ph4g16vv6FQKELdn0xlqampcbAs2zEwMKCsqqr6dpCyuAOghOd6e3tvJCcnP5RIJHxP1EQiEbq7uzdSU1PXVldXlSKR6OV+y+IOgIwYLZPJxP39/YN8Pp9a0+sqKSlBT08PtenEwsJCa1pa2uBey+IOwGnEyyzLvmcYJmJyctIrAB6Ph6ysLEilUjQ0NMBkMr2IiYm5y4GgaepzeToLto04PT39qr29Pa2zs/O/h8TFxUEmkyEvL8+amZkZ7HA4bIuLi9Nms/ndzMzMSGVl5QSA3wD8alVPAMiI53U63YPZ2dmb5eXlO0asrq5GY2OjbW5ubmF+fn5Sq9V+VqvVXwCsA6AZ8QPAGueHfStACWO6urquSSSSJrFYfJokSE9Px+jo6FZdXd0jlUpFdaFEvzi2fwBQEHPnjPApP23wpAAZMSo7Ozt5eHh4JDQ0lA4p6HS6Dbvd/jY3N7cdgJFjTcloRNNZQUEzwS/pneg8AXA1oo5hmKjCwkKUlZUtxcbGygFQ35PUxJiS7imhuyzeLiRkxIsGg0GjUqnSOzo6aBzfq62tfQPgO4CfgTqYvAHYNuLY2FidQCC4ZbVahzIyMp5w7Fc52f2qsa9N3gCQEaM1Gk0RwzD3CwoKbuv1+q8AWE56vxzuK7k3E9LvZERBUVGRsKKiIrO4uHgEADG3BEr63UzoBMYDEAaAxjE53el4f4j5vWe3W/H2HREAfVJ7UQRMel8K+M3goBuP3XvBQQnt+f8nCpwo8A8oSkMwxPsVzgAAAABJRU5ErkJggg==)4 4,auto;
}

.g6-tooltip {
  width: 100px;
  padding: 10px 6px;
  color: #444;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
